/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
 background-color: #7daa92; 
}

/* STYLE TEXT */

header {
   background-color: #e8ccbf;
}

h1 {
  color: black;
   padding-top: 1em;
   padding-bottom: 1em;
   text-align:center;
}

h2 {
   color: black;
   padding-top: 1em;
   padding-bottom: 1em;
   text-align:center;
}

h3 {
   margin: 20px;
}

.center {
   text-align: center;
}

h4 {
   padding-left: 1em;
   padding-right: 1em;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}

p {
   padding-left: 2em;
   padding-right: 2em;
   padding-top: 0.25em;
   padding-bottom: 0.25em;
}

h6 {
   padding-left: 2em;
   padding-right:2em;
   padding-top:2em;
   padding-bottom:1em;
}



/* STYLE IMAGES */

.size {
   margin-left: auto;
   margin-right: auto;
  display: block;
  max-width: 25%;
  border-radius: 15%;
  border: 3px solid white;
   margin-top: 10px;
}



/* STYLE NAV BAR */
ul {
  list-style-type: none;
  background-color:#04471c;
  overflow: hidden;
  padding: 1em;
  text-align: center;
}

li {
  display: inline;
}

li a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  font-family: "Roboto";
  padding: 1em;

}

li a:hover {
  background-color: #7daa92;
}



/* STYLE BUTTONS */
.container {
    display: flex;
    justify-content: center; /* Centers horizontally */
   margin: 20px;
   font-size: 100px;

}
#myButton {
   font-size: 24px;
   padding: 1em;
   background-color: #e8ccbf;
}

.genFact {
   background: #04471c;
   padding-bottom: 1em;
   border-radius: 5%;
   margin-left: 20%;
   margin-right: 20%;
}


/* ADD MORE! */

#low {
   padding-top: 1em;
   text-align: center;
   font-size: 20px;
   margin-top: 1em;
   color: white;
}

#fact {
   text-align: center;
   font-size: 20px;
   padding-top: 0.5em;
   padding-bottom: 1em;
   font-size: 30px;
}

/* Citation */
.attribution {
   text-align: center;
}

#center {
   margin-left: 20%;
   margin-right: 20%;
   text-align: center;
}

/* styling YT video*/
 .video-container {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 iframe {
   width: 560px;
   height: 315px;
   border: none;
 }

#center2 {
   text-align: center;
   padding-bottom: 1em;
}